@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
a:link {
  color: inherit; /* no blue default link color */
  text-decoration: none;
}

a:visited {
  color: inherit; /* no purple visited links */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "league spartan", sans-serif;
  background-color: hsl(0, 0%, 100%);
  background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-position: -600px -200px, 400px -50px;
  background-repeat: no-repeat;
}
body main {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 100px 150px;
}
body main header {
  max-width: 30em;
  flex-shrink: 0;
}
body main header h1 {
  font-size: 3.5em;
  color: hsl(300, 43%, 22%);
  margin-right: 100px;
  line-height: 80%;
}
body main header h2 {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  font-size: 1.1em;
  line-height: 130%;
  margin-right: 50px;
}
body main aside {
  max-width: 35em;
  flex-grow: 1;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: repeat(3, 60px);
  grid-template-columns: repeat(10, 60px);
  margin-top: 50px;
}
body main aside h3 {
  color: hsl(300, 43%, 22%);
  font-size: 0.9em;
  margin: 10px 20px;
}
body main aside :first-child {
  grid-row: 1;
  grid-column: 1/span 8;
}
body main aside :nth-child(2) {
  grid-row: 2;
  grid-column: 2/span 8;
}
body main aside :nth-child(3) {
  grid-row: 3;
  grid-column: 3/span 8;
}
body main aside div.ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  padding: 5px 10px 5px 20px;
  border-radius: 12px;
  max-width: 25em;
  margin-bottom: 10px;
}
body main aside div.ratings img {
  margin: 2px;
  order: -1;
}
body main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 30px);
  width: 100%;
  margin: 50px 0;
  height: auto;
}
body main section :first-child {
  grid-row: 1/span 8;
  grid-column: 1;
}
body main section :nth-child(2) {
  grid-row: 2/span 8;
  grid-column: 2;
}
body main section :nth-child(3) {
  grid-row: 3/span 8;
  grid-column: 3;
}
body main section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  max-width: 22em;
}
body main section article div.profile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}
body main section article div.profile img {
  border-radius: 20px;
  order: -1;
  max-width: 40px;
}
body main section article div.profile div.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body main section article h4 {
  margin-bottom: 1px;
}
body main section article h4, body main section article p {
  color: hsl(300, 24%, 96%);
}
body main section article h5 {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
  font-size: 1em;
  margin-top: 1px;
}
body main section article p {
  font-weight: 500;
  line-height: 140%;
  margin: 5px;
}

footer {
  margin: 20px;
  font-size: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1390px) {
  body main {
    min-width: 1041px;
    justify-content: center;
    align-items: center;
  }
  body main section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  body main section :first-child {
    grid-row: 1;
    grid-column: 1;
  }
  body main section :nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }
  body main section :nth-child(3) {
    grid-row: 1;
    grid-column: 3;
  }
  body main section article {
    max-width: 20em;
  }
}
@media screen and (max-width: 1286px) {
  body main {
    margin: 100px 100px;
  }
}
@media screen and (max-width: 1147px) {
  body main {
    margin: 100px 50px;
  }
  body main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
    width: 70vw;
    gap: 40px;
  }
}
@media screen and (max-width: 1099px) {
  body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 20px;
  }
  body main aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}/*# sourceMappingURL=input.css.map */